<%= form_with model: user do |form| %>
  <div>
    <div>Email: <%=form.text_field :email, value: user.email%></div>
  </div>

  <div>
    <div>Password: <%=form.text_field :password, value: user.password%></div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
