<%= form_with model: user do |form| %>
  <div>
    <div>Name: <%=form.text_field :name, value: user.name%></div>
  </div>

  <div>
    <div>Email: <%=form.text_field :email, value: user.email%></div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
