<div class="page-break">
  <p>Email: <%= @user.email %></p>
  
  <h3>Profile</h3>
  <%= render 'shared/profile', profile: @user.profile if @user.profile%>
  
  <h3>Card</h3>
  <% if @user.card%>
    <ul>
      <li>Type: <%= @user.card.card_type %></li>
      <li>Number: <%= @user.card.mask_credit_card_number %></li>
      <li>Expire at: <%= @user.card.expire.strftime('%d/%m/%Y') %></li>
    </ul>
  <% end %>
  
  <h3>Bank information</h3>
  <% if @user.bank_info%>
    <ul>
      <li>Name: <%= @user.bank_info.name %></li>
      <li>Abbreviation name: <%= @user.bank_info.abbreviation_name %></li>
    </ul>
  <% end %>
  
  <h3>Posts: <%= @user.posts.size%></h3>
  <ul>
    <% @user.posts.each do |post|%>
      <li>
        <%= link_to post.title, post %>
      </li>
    <% end %>
  </ul>
  
  <h3>Participated events:</h3>
  <ul>
    <% @user.events.each do |event|%>
      <li>
        <%= link_to event.name, event %>
      </li>
    <% end %>
  </ul>
  
  
  <%= link_to "Edit", edit_user_path(@user) %>
  <%= link_to "Destroy", user_path(@user), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  
  </div>
  